# common
.DS_Store

# android
*.iml
.gradle
/local.properties
.idea
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
keys/*

# ios
*.hprof
/iosApp/env.conf
/iosApp/Resources/Environment/Environment.xcconfig

# google services
/androidApp/src/debug/google-services.json
/iosApp/GoogleService-Info.plist
