@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/** Base **/
body, html, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Albert Sans', 'Roboto', sans-serif;
  overflow: hidden;
}

button.MuiButton-sizeLarge {
  line-height: 34px;
}

button.MuiButton-sizeMedium {
  line-height: 30px;
}

button.MuiButton-sizeSmall {
  line-height: 24px;
}