<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kmm.keygenqt.com</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>poppins_black_italic.ttf</string>
		<string>poppins_black.ttf</string>
		<string>poppins_bold_italic.ttf</string>
		<string>poppins_bold.ttf</string>
		<string>poppins_extra_bold_italic.ttf</string>
		<string>poppins_extra_bold.ttf</string>
		<string>poppins_extra_light_italic.ttf</string>
		<string>poppins_extra_light.ttf</string>
		<string>poppins_italic.ttf</string>
		<string>poppins_light_italic.ttf</string>
		<string>poppins_light.ttf</string>
		<string>poppins_medium_italic.ttf</string>
		<string>poppins_medium.ttf</string>
		<string>poppins_regular.ttf</string>
		<string>poppins_semi_bold_italic.ttf</string>
		<string>poppins_semi_bold.ttf</string>
		<string>poppins_thin_italic.ttf</string>
		<string>poppins_thin.ttf</string>
	</array>
	<key>github_client_id</key>
	<string>$(github_client_id)</string>
	<key>github_client_secret</key>
	<string>$(github_client_secret)</string>
</dict>
</plist>
